*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

/*# main section*/

.main-section {
  display: flex;
}

/* !text article */

h1 {
  font-size: 1rem;
  padding: 1rem 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  position: relative;
  top: 20%;
}
.text-container p {
  padding: 3rem 2rem 3rem 0;
  font-size: 0.8rem;
}

/* !foto article */

article {
  width: 50%;
}

article img {
  width: 50vw;
}

.foto-container {
  position: relative;
}

.foto-container p {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.foto-container span {
  font-weight: 100;
  font-size: 0.8rem;
}

/*#  footer */

footer {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}

footer div {
  width: 33%;
}

.nav-container {
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding-right: 2rem;
}

.arrow-container {
  height: 5.5rem;
  width: 11rem;
}

.black-bg {
  background-color: black;
}

.white-arrow {
  background-color: black;
}

.black-arrow {
  rotate: 180deg;
}

footer {
  background-color: #f7f7f7;
  margin: 0.5rem auto;
}

@media screen and (max-width: 950px) {
  .text-container h2 {
    width: 25%;
  }

  .text-container {
    top: 20%;
  }

  .text-container p {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 902px) {
  .text-container {
    top: 18%;
  }

  .text-container p {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .main-section {
    flex-direction: column;
  }
  article {
    width: 100%;
  }
  article img {
    width: 100vw;
  }
}
